###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/cache
/var/log
/vendor/
###< symfony/framework-bundle ###
.idea
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
/config/jwt/*.pem-back
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
