<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="bootstrap-neo4j-testing.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <env name="secret" value="secretkeynekuno2015forjwt" />
        <env name="instant_api_secret" value="" />
        <env name="JWT_PRIVATE_KEY_PATH" value="config/jwt/private.pem" />
        <env name="JWT_PUBLIC_KEY_PATH" value="config/jwt/public.pem" />
        <env name="JWT_PASSPHRASE" value="nekuno" />
        <env name="push_public_key" value="" />
        <env name="push_private_key" value="" />
        <env name="firebase_url" value="" />
        <env name="firebase_api_key" value="" />
        <env name="dev_custom_ip_1" value="" />
        <env name="dev_custom_ip_2" value="" />
        <env name="dev_custom_ip_3" value="" />
        <env name="dev_custom_ip_4" value="" />
        <env name="support_email_1" value="" />
        <env name="support_email_2" value="" />
        <env name="support_email_3" value="" />
        <env name="locale_default" value="en" />
        <env name="locale" value="en" />
        <env name="images_web_dir" value="/../landing/web/" />
        <env name="brain_base_url" value="" />
        <env name="instant_host" value="" />
        <env name="guzzle_verify" value="" />
        <env name="db_neo4j_host" value="127.0.0.1" force="true" />
        <env name="db_neo4j_port" value="7475" force="true" />
        <env name="db_neo4j_user" value="nekuno" force="true" />
        <env name="db_neo4j_pass" value="nekuno" force="true" />
        <env name="rabbitmq_host" value="localhost" />
        <env name="rabbitmq_port" value="5672" />
        <env name="rabbitmq_user" value="guest" />
        <env name="rabbitmq_pass" value="guest" />
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/cache/nekuno_brain.db" force="true" />
        <!-- define your env variables for the test env here -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
