<p>{{ 'notifications.footer'|trans }}</p>
<br />
<a href="https://nekuno.com/">
    <img alt="Nekuno" src="https://brain.nekuno.com/logo-250x132.jpg" />
</a>
<br />
<a href="https://nekuno.com/">nekuno.com</a>