{% include 'email-notifications/partials/header-notification.html.twig' with { 'username': username } %}


<p>{{ 'notifications.messages.follower_found.body.message'|trans({'%username%': username, '%email%': email, '%usernameOther%': usernameOther, '%emailOther%': emailOther, '%urlOther%': urlOther, '%filter%': filter, '%value%': value|round})|raw }}</p>


{% include 'email-notifications/partials/footer-notification.html.twig' %}