{% include 'email-notifications/partials/header-notification.html.twig' with { 'username': email } %}


<p>{{ 'notifications.messages.follower_found.body.message'|trans({'%username%': username, '%url%': url})|raw }}</p>


{% include 'email-notifications/partials/footer-notification.html.twig' %}