{% include 'email-notifications/partials/header-notification.html.twig' with { 'username': email } %}


<p>{{ 'notifications.messages.invitation.email_html'|trans({'%name%': username, '%url%': url, '%expiresAt%': expiresAt|date})|raw }}</p>


{% include 'email-notifications/partials/footer-notification.html.twig' %}