{% include 'email-notifications/partials/header-notification.html.twig' %}

<p>{{ 'notifications.messages.unread.body.title'|transChoice({'%count%': unReadMessagesCount}) }}</p>

<p>{{ 'notifications.messages.unread.body.latest'|transChoice({'%count%': messages|length}) }}</p>

{% for message in messages %}

    <p>{{ 'notifications.messages.unread.body.message'|transChoice({'%user%': message.username_from, '%datetime%': message.createdAt|date}) }}</p>

    <p>{{ message.text }}</p>

{% endfor %}

{% include 'email-notifications/partials/footer-notification.html.twig' %}