{% extends 'base.html.twig' %}

{% block body %}
    <p>Welcome to Nekuno Brain {{ version }}!, See the public API docs <a href="{{ '/api/doc/public' }}">here</a>.</p>
    <p>Check out the Brain Github repository <a href="https://github.com/nekuno/brain2">here</a>.</p>
    <p>Check out all Nekuno's Github repositories <a href="https://github.com/nekuno">here</a>.</p>
{% endblock %}