## Doctrine
dbs.mysql_social.dbname: 'qnoow'
dbs.mysql_social.user: 'qnoowdev'
dbs.mysql_social.pass: 'qnoow2014'
dbs.mysql_social.host: '127.0.0.1'
dbs.mysql_social.driver: 'pdo_mysql'

dbs.mysql_brain.dbname: 'brain'
dbs.mysql_brain.user: 'root'
dbs.mysql_brain.pass: 'socket'
dbs.mysql_brain.host: '127.0.0.1'
dbs.mysql_brain.driver: 'pdo_mysql'

## Neo4j
db.neo4j.host: 127.0.0.1
db.neo4j.port: 7474
db.neo4j.auth: false
db.neo4j.user: 'qnoow'
db.neo4j.pass: 'jgysJFcDujHaVrdP2DC2'

## Twitter
twitter.consumer_key: 'm9NY9ZghlVeYFVk8fbPp8pp1g'
twitter.consumer_secret: 'yQ5XBabTj1vzCCBVeJoqX9Bli4zcjVWsF6FxHvPtZwkAJseu1l'

## Facebook App
facebook.app_id: '525923770862645'
facebook.app_secret: '1b5ed9309224e67f698848d85f7660a5'
facebook.verify_token: 'toChangeRandomString'
facebook.base_url: 'https://graph.facebook.com/v2.0'

