params:

    ## Valid IPs
    local_ip: '127.0.0.1'
    full_contact_ip: '52.3.163.97'
    people_graph_ip: '54.246.93.152'
    dev_custom_ip_1:
    dev_custom_ip_2:
    dev_custom_ip_3:
    dev_custom_ip_4:

    ## Locale
    locale.default: en

    ## Instant
    instant.host: http://localhost:8008/
    guzzle.verify: null

    ## Doctrine
    dbs.mysql_social.driver: pdo_mysql
    dbs.mysql_social.host: localhost
    dbs.mysql_social.dbname: nekuno
    dbs.mysql_social.user: root
    dbs.mysql_social.pass: root

    dbs.mysql_brain.driver: pdo_mysql
    dbs.mysql_brain.host: localhost
    dbs.mysql_brain.dbname: nekuno_brain
    dbs.mysql_brain.user: root
    dbs.mysql_brain.pass: root

    ## Neo4j
    db.neo4j.host: 127.0.0.1
    db.neo4j.port: 7474
    db.neo4j.auth: false
    db.neo4j.user: nekuno
    db.neo4j.pass: nekuno

    ## Swiftmailer
    swiftmailer.host: 127.0.0.1
    swiftmailer.port: 25
    swiftmailer.username: nekuno
    swiftmailer.password: nekuno
    swiftmailer.encryption: null
    swiftmailer.auth_mode: null
    swiftmailer.sender_address: null

    ## RabbitMQ
    rabbitmq.host: 127.0.0.1
    rabbitmq.port: 5672
    rabbitmq.user: guest
    rabbitmq.pass: guest

    ## Twitter
    twitter.consumer_key: m9NY9ZghlVeYFVk8fbPp8pp1g
    twitter.consumer_secret: yQ5XBabTj1vzCCBVeJoqX9Bli4zcjVWsF6FxHvPtZwkAJseu1l

    ## Spotify
    spotify.consumer_key: 2cc22e2706704d39998c990457530a9a
    spotify.consumer_secret: 47189c30d7f84d7ca4c4436309c0dc3c

    ## Google
    google.consumer_key: 556826433000.apps.googleusercontent.com
    google.consumer_secret: oNAbbRwxxZD9Ntyj7D4yXq1f
    google.service_account_email: 556826433000-0b3i84k7li492e1t9rvat650cb8v00dg@developer.gserviceaccount.com
    google.key_file: /root/.ssh/OauthTest-d90f7483fcf1.p12
    google.key_password: notasecret

    ## Facebook App
    facebook.consumer_key: 525923770862645
    facebook.consumer_secret: 1b5ed9309224e67f698848d85f7660a5

    ## Invitations migration
    admin.domain_plus_port: 'https://admin.local.nekuno.com:443/'

    ## Social host
    social.host: 'https://local.nekuno.com/'

    ## FullContact API key
    fullContact.url: https://api.fullcontact.com/v2/person.json
    fullContact.consumer_key: 2745053af3e27da4

    ## PeopleGraph API key
    peopleGraph.url: https://api.peoplegraph.io/v2/lookup
    peopleGraph.consumer_key: yj0Ak28hFCugzlT6L8PrhneGT0VaQtY8
